<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/sbinventory</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/sbinventory</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=DESKTOP-I9GMAOM;Initial Catalog=SbDB;Persist Security Info=True;User ID=sa;Password=atl@sql" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SbInventory.Models.ApplicationDbContext, SbInventory" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SbDBEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=DESKTOP-I9GMAOM;Initial Catalog=SbDB;Persist Security Info=True;User ID=sa;Password=atl@sql;Enlist=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SbInventory.Models.SbDBEntities, SbInventory" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SbDBViewEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=DESKTOP-I9GMAOM;Initial Catalog=SbDB;Persist Security Info=True;User ID=sa;Password=atl@sql;Application Name=EntityFramework" Name="Data Source=DESKTOP-I9GMAOM;Initial Catalog=SbDB;Persist Security Info=True;User ID=sa;Password=atl@sql;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SbInventory.Models.SbDBViewEntities, SbInventory" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-I9GMAOM;Initial Catalog=SbDB;Persist Security Info=True;User ID=sa;Password=atl@sql</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SbDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Sb.csdl|res://*/Models.Sb.ssdl|res://*/Models.Sb.msl;provider=System.Data.SqlClient;provider connection string="Data Source=DESKTOP-I9GMAOM;Initial Catalog=SbDB;Persist Security Info=True;User ID=sa;Password=atl@sql;Enlist=False"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SbDBViewEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ViewModels.csdl|res://*/Models.ViewModels.ssdl|res://*/Models.ViewModels.msl;provider=System.Data.SqlClient;provider connection string="Data Source=DESKTOP-I9GMAOM;Initial Catalog=SbDB;Persist Security Info=True;User ID=sa;Password=atl@sql;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>